providers:
  docker:
    swarmMode: true
    exposedByDefault: false
    watch: true
    endpoint: 'unix:///var/run/docker.sock'
    network: frontend_network
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true

api:
  dashboard: true # if you don't need the dashboard disable it

entryPoints:
  web:
    address: ':80' # http
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https      
  websecure:
    address: ':443' # https

certificatesResolvers:
  letsencrypt:
    acme:
      email: admin@home.workload.stream
      storage: /letsencrypt/acme.json
      tlsChallenge: {}
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # IMPORTANT: uncomment this line to get production ready certificates. After this, clear acme.json file.

log:
  level: INFO  # ERROR, DEBUG, PANIC, FATAL, ERROR, WARN, INFO
# accessLog: {}  # uncomment this line to enable access log

global:
  checkNewVersion: false
  sendAnonymousUsage: false

