providers:
  docker:
    swarmMode: true
    exposedByDefault: false
    network: frontend
    endpoint: tcp://docker-socket:2375
    watch: true
  file:
    filename: /etc/traefik/dynamic.yaml
    watch: true

api:
  dashboard: true # if you don't need the dashboard disable it

entryPoints:
  web:
    address: ':80' # http
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ':443' # https
  admin:
    address: ':9080' # admin

certificatesResolvers:
  letsencrypt:
    acme:
      email: hostmaster@viraqua.net
      storage: /letsencrypt/acme.json
      tlsChallenge: true
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory # IMPORTANT: comment this line to get production ready certificates. After this, clear acme.json file.

log:
  level: DEBUG  # ERROR, DEBUG, PANIC, FATAL, ERROR, WARN, INFO
  format: json

accessLog: {}

global:
  checkNewVersion: false
  sendAnonymousUsage: false

